/* index.html homepage */

html {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    transform: scale(1.1);
    transition: 100ms;
    text-decoration: underline;
    cursor: pointer;
}
q {
    font-style: italic;
    font-weight: normal;
    color: rgb(61, 61, 61);
}
.bodysegment1, header {
    background-color: peachpuff;
}
.bodysegment3 {
    background-color: rgba(209, 209, 209, 0.568);
}
.headersegment {
    padding: 1% 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headerlinkgroups {
    display: flex;
    text-align: right;
    gap: 10px;
    font-size: small;
}
.bodycontent {
    padding: 2% 20%;
}
.actionflexbox {
    display: flex;
    gap: 5%;
    align-items: center;
}
.actionflexcontent {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.placeholderimage {
    width: 50%;
    text-align: center;
}
.placeholderimage img {
    border-radius: 10%;
}
.signupbutton {
    background-color: black;
    border: transparent;
    color: white;
    border-radius: 5%;
    width: 100px;
    padding: 5px;
    cursor: pointer;
}
.signupbutton:hover {
    transform:scale(1.1);
    transition: 300ms;
}
.imagereel {
    display: flex;
    justify-content: space-around;
}
.imagereel img {
    height: 500px;
    width: auto;
}
.calltoactionbox {
    display: flex;
    background-color:peachpuff;
    align-items: center;
}
.calltoaction {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5%;
}
.callbutton {
    padding: 20px;
}